body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.searchbar{
  padding: 16px;
  border: 2px solid rgb(40, 160, 240);
  border-radius: 7px ;
}
button{
  width: 100px;
  padding: 16px;
  color: aliceblue;
  background-color:rgb(40, 160, 240) ;
  border-radius: 7px ;
  border: 2px solid rgb(40, 160, 240);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-bar{
margin-top: 70px ;
}
span{
  margin-left: 120px;
  margin-top: -10px;
  padding: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
  width: 300px;
  height: 260px;
  border-radius: 20px;
}
.container{
  margin-top: 75px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 30px;
  margin-right: 50px;
 
}
.container-avatar{
  width: 400px  ;
  margin-left:55px ;
  
}
h3{
  padding: 10px;
  background-color: rgb(40, 160, 240);
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-left: 20px;
}
@media screen and (max-width:600px) {
  span{
    margin-left: 120px;
    margin-top: -10px;
    padding: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .container{
    margin-top: 75px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    margin-right: 0px;
   
  }  
  .container-avatar{
    width: 300px  ;
    
  }
  img{
    width: 260px;
    height: 260px;
    border-radius: 40px;
  }
}
li{
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color:rgb(40, 160, 240) ;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  box-shadow: 0px 0px 5px solid rgb(85, 83, 83);
}
#uniq-id{
  margin-left: 50px;
  width: 220px;
}




